#container {
   display: flex;
}

#directory {
   flex: 0 0 200px;
   height: 100%;
   border-right: double;
   border-right-color: #ccc;
}

#blogs {
   flex: 1;
   height: 100%;
   padding: 10px;
}

.blog {
   width: 700px;
}
